@{
    var Item = (WinWarEntity.NewsEntity)ViewBag.Item;
    var NewsMain=Item.Html_Txt;
    var Passport = (WinWarEntity.Passport)ViewBag.Passport;
    ViewBag.Title = "赢 VAR  " + Item.Title_Main + "详情";
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
    <link href="/modules/css/home/detail.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            seajs.use(["scripts/home/detail"], function (obj) {
                obj.init('@Item.News_Uni_Code', '@NewsMain', '@Item.Is_Collect', '@Item.Is_Praise', '@Passport.UserID');
            });
        });
    </script>
}
<div class="detail-header">
    <div class="header-newsimg">
        @{
            if (!string.IsNullOrEmpty(Item.Pic_URL)){
            <img src="/modules/images/news.jpg" />
            }
        }
    </div>
    <div class="header-back" onclick="if(history.length>1){ history.go(-1);} else{location.href='/home/index'}">
        <span class="iconfont icon">&#xe60a;
         @*   <img class="icon" src="/modules/images/back.png" />*@
        </span>
    </div>
    <div class="header-content">
        <div class="source">@(string.IsNullOrEmpty( Item.Real_Source_Name)?"来源未知":Item.Real_Source_Name)</div>
        <div class="title">@Item.Title_Main</div>
    </div>
</div>

<div class="detail-content">
    <div class="news-author">
      @*  <div class="author-img left">
             <img src="/modules/images/news.jpg" />
        </div>*@
        <div class="author-detail left">
            <div class="author-name">@(string.IsNullOrEmpty(Item.News_Author)?"--":Item.News_Author)</div>
            <div class="author-time">@Item.Pub_Time.ToString("yyyy-MM-dd hh:mm:ss")</div>
        </div>
        <div class="author-read right">
            <span class="iconfont" title="阅读数"><img class="icon" src="/modules/images/browse.png" /></span>
            <span class="read">@Item.View_Count</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="detail-box" id="newsMain">
@*    <script type="text/javascript">
        document.getElementById("newsMain").innerHTML = '@( HttpUtility.HtmlDecode( Item.Html_Txt ) )';
    </script>   *@
    </div>
   
</div>

<div class="detail-replys">
    <div class="reply-header">
        <div class="reply-title">评论</div>
    </div>
    <div class="reply-list">
        <ul><li class="no-data">暂无评论</li></ul>
        <div class="clear"></div>
        <div class="data-loading hide"></div>
        <div class="load-more hide">加载更多评论</div>
    </div>
</div>

<div class="menu">
    <ul class="menu-list">
        <li id="li-addComment"> 
             <div class="iconfont">
                <img class="icon" data-icon="comment" src="/modules/images/comment.png" />
            </div>
            写评论
        </li>
        <li id="addNewsCollectCount">
            @{
                if(Item.Is_Collect==0){
                 <div class="iconfont">
                    <img class="icon" data-icon="collect" src="/modules/images/collect.png" />
                </div>
                <span>收藏</span>
                }
                else
                {
                    <div class="iconfont">
                        <img class="icon" data-icon="collect" src="/modules/images/collect_color.png" />
                    </div>
                    <span>取消收藏</span>
                }
            }
        </li>
        <li id="addNewsPraiseCount">
             @{
                if(Item.Is_Praise==0){
                    <div class="iconfont">
                    <img class="icon" data-icon="like" src="/modules/images/like.png" />
                    </div>
                    }
                    else
                    {
                     <div class="iconfont">
                    <img class="icon" data-icon="like" src="/modules/images/like_color.png" />
                    </div>
                    }
                    <span class="Praise_Count">@Item.Praise_Count</span><span class="mLeft5 praise-title">赞</span>
                }                            
        </li>
        <li>
             <div class="iconfont">
                <img class="icon" style="max-width:22px; max-height:22px;" data-icon="reply" src="/modules/images/reply.png" />
            </div>
            <span id="Comment_Count">@Item.Comment_Count</span>评论
        </li>
    </ul>
    <div class="clear"></div>
</div>

<div class="overlay">
    <div class="detail-reply-box">
        <div class="detail-reply-msg">
            <textarea class="reply-msg" placeholder="发表评论  (500字)" id="comment-msg" onpropertychange="this.style.height=this.value.split('\n').length*20 + 'px';this.style.height=this.scrollHeight + 'px';" oninput="this.style.height=this.value.split('\n').length*20 + 'px';this.style.height=this.scrollHeight + 'px';"></textarea>
        </div>
         <div class="detail-reply-btn" id="btn-addComment">
             发送
        </div>
    </div>
</div>
