@{
    ViewBag.Title = "赢 VAR详情";

    var Item = (WinWarEntity.NewsEntity)ViewBag.Item;
    var NewsMain = Item.Html_Txt;
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
    <link href="/modules/css/home/detail.css" rel="stylesheet" />

}
@section scripts{
    <script type="text/javascript">
        $(function () {
            seajs.use(["scripts/home/detail"], function (obj) {
                obj.init('@NewsMain');
            });
        });
    </script>
}
<div class="detail-header">
    <div class="header-newsimg"><img src="/modules/images/news.jpg" /></div>
    <div class="header-back" onclick="if(history.length>1){ history.go(-1);} else{}"><span class="iconfont">&#xe654;</span></div>
    <div class="header-content">
        <div class="source">凤凰网</div>
        <div class="title">@Item.Title_Main</div>
    </div>
</div>

<div class="detail-content">
    <div class="news-author">
        <div class="author-img left">
             <img src="/modules/images/news.jpg" />
        </div>
        <div class="author-detail left">
            <div class="author-name">@(string.IsNullOrEmpty(Item.News_Author)?"--":Item.News_Author)</div>
            <div class="author-time">@Item.Pub_Time.ToString("yyyy-MM-dd hh:mm:ss")</div>
        </div>
        <div class="author-read right">
            <span class="iconfont" title="阅读数"><img class="icon" src="/modules/images/browse.png" /></span>
            <span class="read">@Item.View_Count</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="detail-box" id="newsMain">
      @*  @{
        <script type="text/javascript">
            document.getElementById("newsMain").innerHTML = decodeURI('@(Item.Html_Txt)');
        </script>      
     }*@
    </div>
   
</div>

<div class="detail-reply">
    <div class="reply-header">
        <div class="reply-title">评论</div>
    </div>
    <div class="reply-list">
        <ul>
            <li class="reply-item">
                <div class="reply-author">
                    <div class="reply-img left">
                         <img src="/modules/images/news.jpg" />
                    </div>
                    <div class="reply-detail left">
                        <div class="reply-name">作者</div>
                        <div class="reply-time">2015-1-1</div>
                    </div>
                    <div class="reply-add right">
                        <span class="iconfont">&#xe610;</span>
                        <span class="mLeft5 reply-count">111</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="reply-content">上去大约30岁，个头1米65左右，棕色长发，身穿无袖紧身上衣和黑色牛仔裤，还穿了一双多在冬天穿着的高跟短皮靴。康诺丽提</div>
            </li>
            <li class="reply-item">
                <div class="reply-author">
                    <div class="reply-img left">
                         <img src="/modules/images/news.jpg" />
                    </div>
                    <div class="reply-detail left">
                        <div class="reply-name">作者</div>
                        <div class="reply-time">2015-1-1</div>
                    </div>
                    <div class="reply-add right">
                        <span class="iconfont">&#xe610;</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="reply-content">上去大约30岁，个头1米65左右，棕色长发，身穿无袖紧身上衣和黑色牛仔裤，还穿了一双多在冬天穿着的高跟短皮靴。康诺丽提</div>
            </li>
            <li class="reply-item">
                <div class="reply-author">
                    <div class="reply-img left">
                         <img src="/modules/images/news.jpg" />
                    </div>
                    <div class="reply-detail left">
                        <div class="reply-name">作者</div>
                        <div class="reply-time">2015-1-1</div>
                    </div>
                    <div class="reply-add right">
                        <span class="iconfont">&#xe610;</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="reply-content">上去大约30岁，个头1米65左右，棕色长发，身穿无袖紧身上衣和黑色牛仔裤，还穿了一双多在冬天穿着的高跟短皮靴。康诺丽提</div>
            </li>
        </ul>
    </div>
</div>

<div class="menu">
    <ul class="menu-list">
        <li id="btn-add-reply"> 
            <div class="iconfont" >&#xe600;</div>
            写评论
        </li>
        <li>
            <div class="iconfont">&#xe63b;</div>
            收藏
        </li>
        <li>
            <div class="iconfont">&#xe633;</div>
            <span>12</span>赞
        </li>
        <li>
            <div class="iconfont" >&#xe601;</div>
            <span>12</span>评论
        </li>
    </ul>
    <div class="clear"></div>
</div>

<div class="overlay">
    <div class="detail-reply-box">
        <div class="detail-reply-msg" contenteditable="true" placeholder="发表评论">
            <div class="reply-msg">发表评论</div>
        </div>
         <div class="detail-reply-btn">
             发送
        </div>
    </div>
</div>
